$icon-font-path: '../fonts/';


@import "cosmo_variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "cosmo_bootswatch.scss";

@mixin section-label($text, $color, $top:53px) {
	content: $text;
	background-color: $color;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	left: 0;
	padding: 2px 5px;
	position: absolute;
	top: $top;
	text-transform: uppercase;
	width: auto;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	padding-top: 70px;
	position: relative;
}
.page-indicators main {
	/* Indentation for fun and profit */
	/* Sectors */
	> .container-fluid {
		margin-left: -10px;

		/* Priority outcomes */
		> .row > section {
			&:before {
				@include section-label("Priority Outcome", lighten($brand-primary, 10));
			}

			/* Indicators */
			> section {
				&:before {
					@include section-label("Indicator", lighten($brand-primary, 10));
				}
			}
		}
		/*Stuff for both*/
		> .row > section,
		> .row > section > section {
			margin-left: 10px;
			position: relative;
			padding-top: 50px;
		}
	}

	/* Measures */
	.panel { margin-left: 10px; }

	h1 {
		border-bottom: 20px solid $brand-primary;
		/*font-size: 4em;*/
		color: $brand-primary;
        margin-top: 70px;
		padding: 0 0 8px 0;
	}
	h2 {
		border-bottom: 2px solid $brand-primary;
	}
	section {
		h2, h3 {
			/*margin-top: 2em;*/
			position: relative;
			border-left: 2px solid $brand-primary;
			padding-left: 5px;
		}
		h3 {
			border-left-color: lighten($brand-primary, 10);
		}

	}

}

.header {
	label {
		color: $gray-light;
		font-weight: normal;
        margin: 0;
        /*padding: $nav-link-padding;*/
        padding: 0;
		padding-right: 5px;
        position: relative;
        top: -13px;
	}
    .selectize-control {
        display: inline-block;
        min-width: 250px;
        margin-top: 4px;
    }
}
.side-nav > div {
	width: 250px;
	/*position: fixed;*/
}
	.affix {
	  top: 40px;
	}
	.nav > li > a {
		color: $gray;
		font-weight: bold;
	}
	.nav li ul {
		height: 0;
		transition: height 1s;
		overflow: hidden;

		ul a:after {
			opacity: 0;
			right: -10px;
		}
	}

	.nav > .active {
		// top level
		> a,  > a:hover {
			background-color: $brand-primary;
			color: #fff;
		}
		/* second level */
		> ul .active > a {
			font-weight: bold;
		}

		> ul ul .active a {
			color: $brand-success;
			font-weight: normal;
			display: block;
			position: relative;
		}
		> ul ul .active a:after {
			content: "\e080";
			display: block;
			font-family: "Glyphicons Halflings";
			font-size: 23px;
			position: absolute;
			right: -27px;
			top: 8px;
			top: 50%;
			margin-top: -15px;
			opacity: 0.4;
			transition: opacity 2s, right 3s;
		}
		ul {
			display: block;
			height: auto;
			font-size: 13px;
			overflow: visible;
			padding-left: 10px;
		}
		> ul {
			list-style-type: none;
			> li > a {
				color: $gray-darker;
				font-weight: normal;
				line-height: 1.2;
				padding: 5px 0;
				display: block;
			}
		}
		ul ul {
			padding-left: 18px;
		}
		li li {
			line-height: 1.2;
		}

	}

	.active > a:before {
		/*content: "> ";*/
		/*margin-left: -10px;*/
	}


.welcome {
	//beat the default margins
    margin: -27px -15px 0;
}

.panel {
	margin-bottom: 70px;
	margin-top: 30px;

	.panel-heading h4 {
		font-weight: bold;
		&:before {
			@include section-label("Measure", lighten($brand-primary, 10), -10px);
		}
	}
	.panel-body {
		min-height: 300px;
		.btn-group {
			.btn {
				border-right: 1px solid #fff;
			}
		}
	}
	.map-button > span {
		margin-right: 4px;
	}
	.panel-footer {
		min-height: $line-height-computed * 2;

		> div {
			display: none;
		}
	}
	.data { display: block; }
	.map-panel { display: none; }
}
.panel-show-map {

	.data { display: none; }
	.map-panel { display: block; }
	#main-map {
		display: block;
	}
}

.success-story h2 {
	margin-top: 1em;
}

#main-map {
	display: none;

	svg {
		margin-left: -50px;
		transform: scale(0.9);
	}
}

path:hover {
	fill: $brand-primary;
}

p { max-width: 50em; }
.num-row {
    margin-bottom: 40px;
    margin-top: 40px;
}
.big-num {
    display: block;
    font-size: 150px;
    line-height: 150px;
    text-align: center;
}
span.big-num-footer {
    display: block;
    text-align: center;
}

// Temporary for Hompage Listing Wire
.page-home img { display: block; margin: 2em auto; }
.page-home p {
    font-size: 1.3em;
    text-align: center;
    margin: 1em auto;
    max-width: 80%;
    em {
      color: #888;
      font-style: normal;
    }
}
.Xhide-measures {
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 9999;
}
.welcome {
  margin-top: 50px;
    section {
      border-right: 1px solid #ddd;
      &:last-child { border-right: 0 none; }
    }

	h1 { font-size: 30px; }
	h2 { font-size: 20px;
		&:before {
			@include section-label("Priority Outcome", #777777);
		}
	}
    h3 {
      font-size: 16px;
      margin-left: 10px;
		&:before {
			@include section-label("Indicator", #999999);
		}
	}
    ol {
		&:before {
			@include section-label("Measures", #bbbbbb);
            left: 21px;
		}
    }
    h2, h3, ol {
      margin-top: 40px;
      position: relative;
      &:before {
        top: -16px;
      }
    }
    ol:before { top: -22px; }
	li { font-size: 12px;
	}

}
