mixin capitalize(string)
  = string.charAt(0).toUpperCase() + string.slice(1)

mixin lipsum(howmany)
  - var words = ['consectetur', 'adipiscing', 'elit', 'curabitur', 'vel', 'hendrerit', 'libero', 'eleifend', 'blandit', 'nunc', 'ornare', 'odio', 'ut', 'orci', 'gravida', 'imperdiet', 'nullam', 'purus', 'lacinia', 'a', 'pretium', 'quis', 'congue', 'praesent', 'sagittis', 'laoreet', 'auctor' ]
  - for (var i = 0; i < howmany; i++) {
    - var nextWord = words[Math.floor((Math.random()* ( words.length - 1 ) ))]
    if (i == 0)
      mixin capitalize(nextWord)
    else
      = ' ' + nextWord
      if i == howmany - 1
        = '.'
  - }

- var rand = function (min,max) {
-    return Math.floor(Math.random()*(max-min+1)+min);
- }

// var item = items[Math.floor(Math.random()*items.length)];

mixin chartFaker(which)
  -var charts = ['http://Chartholdr.io/pie/600/400/c=2196F3', 'http://Chartholdr.io/line/600/400/c=2196F3', 'http://Chartholdr.io/bar/600/400/c=2196F3']
  -var chart = charts[Math.floor(Math.random()*charts.length)]
  img(src=chart)

mixin widget(name)
  // keep the panel footers a little random
  -var lipsumLength = rand(12,55)

  div.panel.panel-default
    header.panel-heading.content-fluid
      .row
        .col-sm-10
          h4= name
        //-.col-sm-2
          form.navbar-form
            select.form-control
              option 2013
              option 2014
              option 2015
        .col-sm-2
          // @TODO insert a map
          button.map-button.pull-right.btn.btn-primary.btn-sm(type='button', aria-label='View By County')
            span.glyphicon.glyphicon-globe(aria-hidden='true')
            | Map View


    div.panel-body
      div.data
        p Panel Content will be here
        +chartFaker()
      div.map-panel
        div.map-holder


    footer.panel-footer
      a.pull-right.more.reference(href="#") More info
      div
        p
          | Any sort of context/description stuff would go here
        p: +lipsum(lipsumLength)
        p Source name(s) and/or&nbsp;
          a(href="http://you.are/elle") http://you.are/elles

mixin successStory(title)
  -var lipsumLength = rand(32,155)
  -var lipsumLengthalt = rand(54,125)

  aside.panel.panel-primary.success-story
    .panel-heading
      h3.panel-title Success Story
    .panel-body
      .container-fluid
        .row
          .col-sm-3
            if title
              h2= title
            else
              h2 Success Story
          .col-sm-9
            p: +lipsum(lipsumLengthalt)
            p: +lipsum(lipsumLength)

