nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Measuring Our Impact
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href="#") Indicators
        li
          a(href="#") About
        li
          a(href="#") Recommendations
      form.navbar-form.navbar-right
        fieldset.form-group
          label(for="sd-select")
            | Filter by district
          select#sd-select
            //.form-control
            option(value="All Districts") All Districts
            option(value="Adrian") Adrian
            option(value="Alsea") Alsea
            option(value="Amity") Amity
            option(value="Annex") Annex
            option(value="Arlington") Arlington
            option(value="Arock") Arock
            option(value="Ashland") Ashland
            option(value="Ashwood") Ashwood
            option(value="Astoria") Astoria
            option(value="Athena-Weston") Athena-Weston
            option(value="Baker") Baker
            option(value="Bandon") Bandon
            option(value="Banks") Banks
            option(value="Beaverton") Beaverton
            option(value="Bend-LaPine Admin") Bend-LaPine Admin
            option(value="Bethel") Bethel
            option(value="Blachly") Blachly
            option(value="Black Butte") Black Butte
            option(value="Brookings-Harbor") Brookings-Harbor
            option(value="Brothers") Brothers
            option(value="Burnt River") Burnt River
            option(value="Butte Falls") Butte Falls
            option(value="Camas Valley") Camas Valley
            option(value="Canby") Canby
            option(value="Cascade") Cascade
            option(value="Centennial") Centennial
            option(value="Central") Central
            option(value="Central Curry") Central Curry
            option(value="Central Linn") Central Linn
            option(value="Central Point") Central Point
            option(value="Chenowith") Chenowith
            option(value="Clatskanie") Clatskanie
            option(value="Colton") Colton
            option(value="Condon") Condon
            option(value="Coos Bay") Coos Bay
            option(value="Coquille") Coquille
            option(value="Corbett") Corbett
            option(value="Corvallis") Corvallis
            option(value="Cove") Cove
            option(value="Crane") Crane
            option(value="Creswell") Creswell
            option(value="Crow-Applegate-Lorane") Crow-Applegate-Lorane
            option(value="Culver") Culver
            option(value="Dallas") Dallas
            option(value="David Douglas") David Douglas
            option(value="Days Creek") Days Creek
            option(value="Dayton") Dayton
            option(value="Dayville") Dayville
            option(value="Diamond") Diamond
            option(value="Double O") Double O
            option(value="Drewsey") Drewsey
            option(value="Dufur") Dufur
            option(value="Eagle Point") Eagle Point
            option(value="Echo") Echo
            option(value="Elgin") Elgin
            option(value="Elkton") Elkton
            option(value="Enterprise") Enterprise
            option(value="Estacada") Estacada
            option(value="Eugene") Eugene
            option(value="Falls City") Falls City
            option(value="Fern Ridge") Fern Ridge
            option(value="Forest Grove") Forest Grove
            option(value="Fossil") Fossil
            option(value="Frenchglen Sch Dist") Frenchglen Sch Dist
            option(value="Gaston") Gaston
            option(value="Gervais") Gervais
            option(value="Gladstone") Gladstone
            option(value="Glendale") Glendale
            option(value="Glide") Glide
            option(value="Grants Pass") Grants Pass
            option(value="Greater Albany") Greater Albany
            option(value="Gresham-Barlow") Gresham-Barlow
            option(value="Harney County") Harney County
            option(value="Harper") Harper
            option(value="Harrisburg") Harrisburg
            option(value="Helix") Helix
            option(value="Hermiston") Hermiston
            option(value="Hillsboro") Hillsboro
            option(value="Hood River Co") Hood River Co
            option(value="Huntington") Huntington
            option(value="Imbler") Imbler
            option(value="Jefferson") Jefferson
            option(value="Jefferson County") Jefferson County
            option(value="Jewell") Jewell
            option(value="John Day") John Day
            option(value="Jordan Valley") Jordan Valley
            option(value="Joseph") Joseph
            option(value="Junction City") Junction City
            option(value="Juntura") Juntura
            option(value="Klamath County") Klamath County
            option(value="Knappa") Knappa
            option(value="Knappa") Knappa
            option(value="La Grande") La Grande
            option(value="Lake Oswego") Lake Oswego
            option(value="Lakeview") Lakeview
            option(value="Lebanon") Lebanon
            option(value="Long Creek") Long Creek
            option(value="Lowell") Lowell
            option(value="Mapleton") Mapleton
            option(value="Marcola") Marcola
            option(value="McDermitt") McDermitt
            option(value="McKenzie") McKenzie
            option(value="McMinnville") McMinnville
            option(value="Medford") Medford
            option(value="Milton-Freewater") Milton-Freewater
            option(value="Mitchell") Mitchell
            option(value="Molalla  River") Molalla  River
            option(value="Monroe") Monroe
            option(value="Monument") Monument
            option(value="Morrow County") Morrow County
            option(value="Mt Angel") Mt Angel
            option(value="Myrtle Point") Myrtle Point
            option(value="Neah-Kah-Nie") Neah-Kah-Nie
            option(value="Nestucca Valley") Nestucca Valley
            option(value="Newberg") Newberg
            option(value="Newberg") Newberg
            option(value="North Bend") North Bend
            option(value="North Clackamas") North Clackamas
            option(value="North Douglas") North Douglas
            option(value="North Lake") North Lake
            option(value="North Marion") North Marion
            option(value="North Powder") North Powder
            option(value="North Santiam") North Santiam
            option(value="Nyssa") Nyssa
            option(value="Oakland") Oakland
            option(value="Oakridge") Oakridge
            option(value="Ontario") Ontario
            option(value="Oregon City") Oregon City
            option(value="Oregon Trail") Oregon Trail
            option(value="Paisley") Paisley
            option(value="Parkrose") Parkrose
            option(value="Pendleton") Pendleton
            option(value="Perrydale") Perrydale
            option(value="Philomath") Philomath
            option(value="Phoenix-Talent") Phoenix-Talent
            option(value="Pilot Rock") Pilot Rock
            option(value="Pine Creek") Pine Creek
            option(value="Pine-Eagle") Pine-Eagle
            option(value="Pinehurst") Pinehurst
            option(value="Pleasant Hill") Pleasant Hill
            option(value="Plush") Plush
            option(value="Port Orford-Langlois") Port Orford-Langlois
            option(value="Portland") Portland
            option(value="Powers") Powers
            option(value="Prairie City") Prairie City
            option(value="Prospect") Prospect
            option(value="Rainier") Rainier
            option(value="Redmond") Redmond
            option(value="Reedsport") Reedsport
            option(value="Reynolds") Reynolds
            option(value="Riddle") Riddle
            option(value="Riverdale") Riverdale
            option(value="Rogue River") Rogue River
            option(value="Roseburg") Roseburg
            option(value="Salem/Keizer") Salem/Keizer
            option(value="Santiam Canyon") Santiam Canyon
            option(value="Scappoose") Scappoose
            option(value="Scio") Scio
            option(value="Seaside") Seaside
            option(value="Sheridan") Sheridan
            option(value="Sherman") Sherman
            option(value="Sherwood") Sherwood
            option(value="Silver Falls Unified") Silver Falls Unified
            option(value="Sisters") Sisters
            option(value="Siuslaw") Siuslaw
            option(value="South Harney") South Harney
            option(value="South Lane Sch Dist") South Lane Sch Dist
            option(value="South Umpqua") South Umpqua
            option(value="South Wasco County") South Wasco County
            option(value="Spray") Spray
            option(value="Springfield") Springfield
            option(value="St Helens") St Helens
            option(value="St Paul") St Paul
            option(value="Stanfield") Stanfield
            option(value="Suntex") Suntex
            option(value="Sutherlin") Sutherlin
            option(value="Sweet Home") Sweet Home
            option(value="The Dalles") The Dalles
            option(value="Tigard") Tigard
            option(value="Tillamook") Tillamook
            option(value="Troy") Troy
            option(value="Ukiah") Ukiah
            option(value="Umatilla") Umatilla
            option(value="Union") Union
            option(value="Vale") Vale
            option(value="Vernonia") Vernonia
            option(value="Wallowa") Wallowa
            option(value="Warrenton-Hammond") Warrenton-Hammond
            option(value="Warrenton-Hammond") Warrenton-Hammond
            option(value="Warrenton-Hammond") Warrenton-Hammond
            option(value="West Linn") West Linn
            option(value="Willamina") Willamina
            option(value="Winston-Dillard") Winston-Dillard
            option(value="Woodburn") Woodburn
            option(value="Yamhill-Carlton") Yamhill-Carlton
            option(value="Yoncalla") Yoncalla
