aside.side-nav.col-sm-3
  div#sidebar(data-spy='affix')
    h2 Indicators
    nav
      ul.nav.nav-stacked
        li: #[a(href="#") Community Economic Development]
          ul
            li: #[a(href="#") Local and statewide economic impact.]
              //-li: #[a(href="#") Increase in market opportunities/income generation for local producers, processors, and distributors through sales to school districts.
            li: #[a(href="#") Social capital built in school districts and the community.]
              //-li: #[a(href="#") Mutually supportive relationships result in access to resources shared between community and school districts.
            li: #[a(href="#") State agency support for local and regional foods.]
              //-li: #[a(href="#") State agency programs and procurement policies support local and regional foods.
        li: #[a(href="#") Education]
          ul
            li: #[a(href="#") Increase food literacy in students in schools]
              //-li: #[a(href="#") Increase in student knowledge about food and its impact on health, community economics, and the environment
            li: #[a(href="#") Education policy and programs support farm to school activities.]
              //-li: #[a(href="#") Education agencies allocate resources to support farm to school programming.
              //-li: #[a(href="#") Teachers, child care educators, foodservice workers, students and producers are trained in farm to school nutrition, education and gardening activities.
        li: #[a(href="#") Public Health]
          ul
            li: #[a(href="#") Students and their families access locally produced, healthy food through schools and preschools.]
              //-li: #[a(href="#") Student access to local, healthy foods in schools and preschools.
              //-li: #[a(href="#") State government program and policy environments support local, healthy food access in schools for children.

        li: #[a(href="#") Environmental Quality]
          ul
            li: #[a(href="#") Schools support environmentally friendly practices.]
              //-li: #[a(href="#") School gardens support diverse natural food environments.
