aside.side-nav.col-sm-3
  div#sidebar(data-spy='affix')
    nav#side-nav
      h2 Sectors
      ul.nav.nav-stacked
        li
          a(href="#economic-development") Community Economic Development
          ul
            li
              a(href="#local-impact") Local and statewide economic impact.
              ul
                li
                  a(href="#increase-market-opportunity") Increase in market opportunities/income generation for local producers, processors, and distributors through sales to school districts.
            li
              a(href="#social-captital") Social capital built in school districts and the community
              ul
                li
                  a(href="#mutually-supportive-relationships") Mutually supportive relationships result in access to resources shared between community and school districts.
            li
              a(href="#state-agency-support") State agency support for local and regional foods.
              ul
                li
                  a(href="#state-agency-support") State agency programs and procurement policies support local and regional foods.
        li
          a(href="#education") Education
          ul
            li
              a(href="#increase-food-literacy") Increase food literacy in students in schools
              ul
                li
                  a(href="#increase-food-impact-knowledge") Increase in student knowledge about food and its impact on health, community economics, and the environment
            li
              a(href="#increase-food-impact-knowledge") Education policy and programs support farm to school activities.
              ul
                li
                  a(href="") Education agencies allocate resources to support farm to school programming.
                li
                  a(href="") Teachers, child care educators, foodservice workers, students and producers are trained in farm to school nutrition, education and gardening activities.
        li
          a(href="#public-health") Public Health
          ul
            li
              a(href="") Students and their families access locally produced, healthy food through schools and preschools.
              ul
                li
                  a(href="") Student access to local, healthy foods in schools and preschools.
                li
                  a(href="") State government program and policy environments support local, healthy food access in schools for children.

        li
          a(href="#environmental-quality") Environmental Quality
          ul
            li
              a(href="") Schools support environmentally friendly practices.
              ul
                li
                  a(href="") School gardens support diverse natural food environments.
