extends layouts/default
block variables
   - var body_class = 'page-about';
   - var page_title = 'About this project';
block content

  img.hero(src="http://placehold.it/1200x300/?text=Placeholder+Image")

  h1 Farm to school is transforming Oregon
  .container-fluid
    .row.num-row
      .col-sm-3
        .big-num XX
        span.big-num-footer school districts now support local farmers.
      .col-sm-3
        .big-num XX
        span.big-num-footer students eat healthy Oregon foods every day.
      .col-sm-3
        .big-num XX
        span.big-num-footer schools have gardens to teach children where there food comes from.
      .col-sm-3
        .big-num XX
        span.big-num-footer And one more stat with $$ for economic impact probably related to the grants/the multiplier.

    p(style="margin-top: 40px") The <a href="#ofssgn">OFSSGN</a> is a group of more than XX stakeholders across the state who are making these changes happen every day. This website is where we track our progress and measure our success at putting more money in the pockets of Oregon's farmers, teaching students about farm fresh foods, increasing access to local healthy foods in schools and preschools, and stewarding the land for future generations.

  .container-fluid
    .row
      .col-sm-12
        h2 Evaluation is needed for transformation.
        p Oregon's farm to school movement cannot set goals or measure progress without data to show us where we're at. In 2013 the OFSSGN set to work identifying priorities and available data at a statewide level to measure the impact of our work. We were fortunate that a framework for evaluating the impact of farm to school, informed by multiple stakeholders and vetted by experts, was soon to be published by the National Farm to School Network (view the full framework here). We used this framework to inform our own efforts to measure and categorize our success. We were also fortunate that the USDA Farm to School census had started to provide data for many aspects of farm to school in Oregon, along with data collected via Oregon's farm to school grants.

        h2 Oregon's evaluation framework
        p
          | Following NFSN's Evaluation for Transformation framework, Oregon's data is categorized into four broad sectors with
          | the potential to influence outcomes for farm to school: <a href="/indicators.html#economic-development">Community Economic Development</a>, <a
          | href="/indicators.html#education">Education</a>, <a href="/indicators.html#public-health">Public Health</a>, and <a
          | href="/indicators/#environmental-quality">Environmental Quality</a>. For each of these Sectors, there are identified <strong>Priority
          | Outcomes</strong>, short- and long-term changes or benefits that result from farm to school activities. Each outcome
          | has an associated set of <strong>Indicators</strong> that reflect how a system is working and can help to understand
          | causes of problems as well as ways to address them. Each Indicator has a set of <strong>Measures</strong> that help show how an indicator changes over time.
          | Measures are the part of our evaluation framework where we collect, analyze, and display data that support the Indicators and Priority Outcomes in each Sector.

        h2 Oregon's farm to school data.
        p The USDA Farm to School Census [link] provides one source of data for topics such as how districts define local, the amount of dollars invested in local foods, and types of local foods purchased, for many Oregon school districts. First launched in the 2011-12 school year and repeated every two years, the census provides a reliable snapshot of many aspects of farm to school in Oregon. The state of Oregon also collects data on all recipients for its farm to school grant program. Increasing from X districts in 2013 to X districts in 2015, the data collected on these districts is fairly comprehensive and includes amount spent on local products, number of educational activities, and more. Data available from other sources helps to fill in holes in the census and state grant data. For example, the Oregon Department of Education tracks the number of school gardens at every single school in the state [link to Rick's map]. Another example?

        h2#ofssgn About OFSSGN
        h3 Description of the network
        p: +lipsum(31)
        h3 OFSSGN's Mission and History
        p: +lipsum(91)
        h3 Get Involved
        p: +lipsum(61)


