extends layouts/default
block variables
   - var body_class = 'page-home'
   - var page_title = 'Home';

block content

  img(src="http://placehold.it/600x300/?text=Placeholder+for+InfoGraphic")

  p Temporary listing of all <em>priority outcomes</em>, <em>indicators</em> of those outcomes and <em>measures</em> of those indicators.
  P You can <a class="hide-measures" href="#">toggle the measures</a>

  .container-fluid

    section.welcome.row

      section.col-sm-3
        h1 Community Economic Development
        h2 Local and statewide economic impact.
        h3 Increase in market opportunities/income generation for local producers, processors, and distributors through sales to school districts.
        ol
          li  Percentage of total food budget spent on local and Oregon foods by school districts
          li  Total dollar amount of all local and Oregon products (overall and by type) purchased by school districts
          li  Number or percentage of school districts that purchase Oregon-grown/locally-grown or processed products
          li  Number of producers, processors and distributors supplying local and Oregon products to school districts
          li  Number of new jobs created by food producers, processors, or distributors due to farm to school market demand
          li  School districts across Oregon utilize a wide range of methods to purchase local/Oregon products: a.) direct from farmers, b.) through a distributor, c.) through growers' cooperatives, d.) using innovative procurement strategies (such as forward contracting), and e.) utilizing USDA foods allocations.
        h2 Social capital built in school districts and the community.
        h3 Mutually supportive relationships resolt in access to resources shared between community and school districts.
        ol
          li  Availability of funding for school districts to engage the community in farm to school efforts.
          li  Coordinated statewide efforts exist to increase parent and caregiver knowledge, attitudes, and behaviors towards purchasing Oregon foods that are promoted in schools.
          li  Number or percent of school districts that utilize promotional activities related to local foods: a.) in the school environment, b.) in the community.
          li  Oregon Farm to School and School Garden Network membership includes: a.) participants from all geographic regions of the state, b.) participation by state agencies (Oregon Department of Agricolture, Oregon Department of Education, Oregon State University Extension), c.) representation from diverse stakeholders including but not limited to: non-profit organizations, farms and food producers, school food services administrators, Commodity Commissions, Future Farmers of America, distributors, youth, public health professionals,  educators, people of color, and people of diverse socioeconomic backgrounds.
        h2 State agency support for local and regional foods.
        h3 State agency programs and procurement policies support local and regional foods.
        ol
          li  Funding for Farm to School and/or School Garden Programs and staff within Oregon Department of Agricolture and Oregon Department of Education: a.) established as permanent/recurring in the state budget, b.) provides resources to these agencies to provide technical assistance and support at the school and district level.
          li  Availability of state funding to districts in the state: a.) for purchasing Oregon-grown and processed food products, b.) for food-based, agricolture-based and edible garden-based educational activities, and c.) established as permanent/recurring in the state budget.


      section.col-sm-3
        h1 Education
        h2 Increase food literacy in students in schools
        h3 Increase in student knowledge about food and its impact on health, community economics, and the environment
        ol
          li  Number of school districts offering farm to school educational activities (such as school gardening, farm field trips, Future Farmers of America, cooking, nutrition and food-based lessons).
          li  Number or percentage of school districts procuring local foods that accompany these purchases with educational activities.
          li  Number or percentage of schools in Oregon that have an edible garden
          li  Number of counties in Oregon with at least one edible school garden
          li  Number or percentage of schools in Oregon that have an edible garden that is actively used for educational activities.
          li  Oregon Harvest for Schools materials: a.) are developed and available for different products including fruits and vegetables, meat, grains, eggs, seafood, beans, and dairy, b.) are downloadable and editable, translated into Spanish, and include space to add producer profiles.
          li  Number or percentage of school districts making local purchases that are doing some form of promotion of local foods.
        h2 Education policy and programs support farm to school activities.
        h3 Education agencies allocate resources to support farm to school programming.
        ol
          li  Availability of state funding to districts in the state: a.) for food-based, agricolture-based and edible garden-based educational activities, b.) to link those activities with local purchasing efforts, and c.) established as permanent/recurring in the state budget.
        h3 Teachers, child care educators, foodservice workers, students and producers are trained in farm to school nutrition, education and gardening activities.
        ol
          li  The number of farm to school stakeholders reached by professional development/trainings

      section.col-sm-3
        h1 Public Health
        h2 Students and their families access locally produced, healthy food through schools and preschools.
        h3 Student access to local, healthy foods in schools and preschools.
        ol
          li  Total dollar amount of all local and Oregon products (overall and by type) purchased by school districts.
          li  Number or percentage of school districts that have farm to school activities in pre-K settings
          li  Number or percentage of students participating in federal school meal programs (NSLP and NSBP) in districts where farm to school activities are present.
          li  Number or percentage of free and reduced-meal eligible students participating in federal school meal programs where farm to school activities are present
          li  Number of students reached by the ODE F2S grant program (Data source: Impact of HB 2649 docs)
          li  Number of students reached by the ODE F2S grant program, broken down by race/ethnicity and socioeconomic status
          li  Number or percentage of schools in Oregon that have an edible garden
          li  Number of counties in Oregon with at least one edible school garden
          li  Number or percentage of schools that incorporate school garden produce into cafeteria meals. (Data source: USDA census and ODE renewal survey)
          li  Availability of state funding to districts in the state: a.) for purchasing Oregon-grown and processed food products, b.) for food-based, agricolture-based, and edible garden-based educational activities, and c.) established as permanent/recurring in the state budget.
          li  Number or percentage of school districts that purchase Oregon-grown/locally-grown or processed products  te government program and policy environments support local, healthy food access in schools for children.

        h3 State government program and policy environments support local, healthy food access in schools for children.
        ol
          li  State agencies provide policies, procedures and technical assistance to support incorporation of food from school gardens into school meals.
          li  State agencies are able to identify all edible school gardens and their contact people to disseminate technical assistance.
          li  Funding for Farm to School and/or School Garden Programs and staff within Oregon Department of Agricolture (ODA) and Oregon Department of Education (ODE): a.) established as permanent/recurring in the state budget, and b.) provides resources to these agencies to provide technical assistance and support at the school and district level.
          li  Number or percentage of school districts making local purchases that are doing some form of promotion of local foods.



      section.col-sm-3
        h1 Environmental Quality
        h2 Schools support environmentally friendly practices.
        h3 School gardens support diverse natural food environments.
        ol
          li  Number or percentage of schools that have an edible garden that is actively used for educational activities.




